<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Aula 16 - Renderizacao de listas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container-fluid">

        <div class="row m-5">
            <div class="col">
                <h1 class="text-center"> Renderizacao de listas</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p v-for="v in numero"> Item - {{ v }} </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col"> 
                <ul>
                    <li v-for="fruta in frutasEx1"> {{fruta}} </li>
                </ul>
            </div>

            <div class="col">
                <ul>
                    <li v-for="(fruta, index) in frutasEx1"> {{ index + 1 }} {{fruta}} </li>
                </ul>
            </div>

            <div class="col">
                <ul>
                    <li v-for="fruta in frutasEx2"> {{fruta.nome}} </li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul>
                    <li v-for="pessoa in pessoasEx3"> {{pessoa}}</li>
                </ul>
            </div>

            <div class="col">
                <ul>
                    <li v-for="(pessoa, key) in pessoasEx3"> {{ key }} - {{pessoa}}</li>
                </ul>
            </div>

            <div class="col">
                <ul>
                    <li v-for="(pessoa, key) in pessoasEx3">
                        <template v-if="Array.isArray(pessoa)">
                            {{ key }}
                            <ul>
                                <li v-for="item in pessoa">
                                    {{ item }}
                                </li>
                            </ul>
                        </template>
                        <template v-else>
                            <ul>
                                <li>
                                    {{ pessoa }}
                                </li>
                            </ul>
                        </template>


                    </li>
                </ul>
            </div>

        </div>

        

    </div>
    <script src="https://unpkg.com/vue@2"></script>
    
    <script>
        
    </script>
    <script src="app.js"></script>
</body>

</html>